{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Gerenciamento de Chaves{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header>
        <h1>Gerenciamento de Chaves</h1>
        <nav>
            <a href="{% url 'index' %}">Tela Inicial</a> |
            <a href="{% url 'historico_list' %}">Histórico Completo</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© {% now "Y" %} — Sistema de Gerenciamento de Chaves</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>