{% extends 'base.html' %}
{% load static %}

{% block title %}Tela Inicial - Gerenciamento de Chaves{% endblock %}

{% block content %}


    <h2>Situação Atual das Chaves</h2>

    <form method="GET" action="{% url 'index' %}" class="form-filtro">
        <input type="text" name="chave_nome" placeholder="Nome da Chave" value="{{ request.GET.chave_nome }}">
        <button type="submit">Pesquisar</button>
        <a href="{% url 'index' %}" class="btn-limpar">Limpar</a>
    </form>

<table class="tabela-emprestimos">
        <thead>
            <tr>
                <th>Nome da Chave</th>
                <th>Status / Portador Atual</th>
                
                {% if user.is_staff %}
                    <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for chave in page_obj.object_list %} 
                <tr>
                    <td>{{ chave.nome }}</td>
                    <td>
                        {% if chave.status == 'disponivel' %}
                            <span style="color: #2f9e41; font-weight: bold;">Disponível</span>
                        {% else %}
                            {{ chave.portador_atual|default:"Em uso (Indefinido)" }}
                        {% endif %}
                    </td>

                    {% if user.is_staff %}
                        <td>
                            {% if chave.status == 'disponivel' %}
                                <a href="{% url 'entregar_chave' pk=chave.pk %}?next=index" class="btn-acao-entregar">
                                    Entregar
                                </a>
                            {% elif chave.status == 'em_uso' %}
                                <form method="POST" action="{% url 'receber_chave' pk=chave.pk %}?next=index" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-acao-receber">Receber</button>
                                </form>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{% if user.is_staff %}3{% else %}2{% endif %}">
                        Nenhuma chave encontrada com os critérios de pesquisa.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{{ request.GET.urlencode }}">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}{{ request.GET.urlencode }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{{ request.GET.urlencode }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{{ request.GET.urlencode }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% if user.is_staff and ultimos_10_emprestimos %}
    <h2>Últimas 10 Atualizações  </h2>
        
    <div id="lista-emprestimos-staff" style="margin-bottom: 30px;">
        {% include 'historico/_lista_emprestimos.html' with emprestimos_list=ultimos_10_emprestimos %}
    </div>
        
    <hr style="margin-bottom: 30px;">
    {% endif %}
{% endblock %}